#header {
  top: 40px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.342);
  backdrop-filter: blur(4px);
  transition: all 0.4s ease;
  padding: 15px 0;
  height: 70px;
}

#header.header-scrolled,
#header.menu-open {
  top: 0 !important;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  color: var(--light);
}

.nav-link {
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav-link:hover,
.nav-link.active {
  color: var(--primary);
}

.book-a-table-btn {
  margin-left: auto;
  border: 2px solid var(--primary);
  border-radius: 50px;
  padding: 8px 25px;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s;
  text-decoration: none;
}

.book-a-table-btn:hover {
  background: var(--primary);
  color: #fff;
}

.mobile-panel {
  position: fixed;
  top: 70px;
  right: -100%;
  width: 300px;
  height: 35vh;
  background: var(--secondary);
  border-radius: 20px 0 0 20px;
  z-index: 9999;
  transition: right 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-panel.show {
  right: 0;
}

.panel-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.panel-nav-list li {
  margin: 15px 0;
}

.panel-nav-list .nav-link {
  font-size: 13px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.panel-nav-list .nav-link:hover,
.panel-nav-list .nav-link.active {
  color: var(--primary);
}

.panel-book-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 24px;
  border: 2px solid var(--primary);
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  transition: background-color 0.3s ease;
}

.panel-book-btn:hover {
  background: var(--primary-dark);
}

.drawer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 9998;
}

.mobile-nav-toggle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  z-index: 10001;
  display: block;
}
